*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar{
    background-color: rgb(249, 249, 252);
    width: 100%;
    position: sticky;
    top: 1px;
    box-shadow: 2px 4px rgb(123, 121, 123);
  
}

.nav-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width:1200px ;
        margin: auto;
        padding: 0 24px;
        height: 60px;

}
.navbar-brand{
    display: flex;
    align-items: center;
    gap: 10px;

}
.navbar-brand img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
.navbar-brand span{
color: rgba(16, 0, 0, 0.96);
font-size: 20px;
font-weight: 700;
letter-spacing: 9.0px;


}
.nav-links{
    display: flex;
    list-style: none;
    gap: 50px;
    align-items: center;
} 
.nav-links li a{
    text-decoration: none;
    color: rgb(5, 4, 4);
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
}
.nav-links li a:hover{
color: rgb(0, 176, 118);
border-bottom: 2px solid;


}


.hero-section{
    padding: 40px 50px;
justify-content:center;
align-items:center;
display:flex;
gap: 35px;
max-height: fit-content;
/*liner gradient*/
background: linear-gradient(90deg , #010101, black)
}
.hero-text-col{
    color: #000;
}

.hero-badge{
    display: inline-block;
    font-weight: 600px;
    font-size:25px;
    letter-spacing:3px;
    text-transform:uppercase;
    color: rgb(206, 137, 240);
    border: 2px solid rgba(94, 255, 0, 0.835);
    border-radius: 20px;
    padding: 6px 16px;
    margin-bottom: 20px;
}
.hero-tittle{
    font-family: serif;
    font-size: 42px;
    margin-bottom: 15px;
    line-height: 1.5;
    color: aqua;
}
.hero-tittle span{
    color: cornsilk;
    font-style: italic;
}
.hero-subtittle{
    font-size: 17px;
    font-family: serif;
    color: rgb(249, 249, 252);
    line-height: 1.3;
    font-style: oblique;
    margin-bottom: 15px;
}
.hero-buttons{
    display: flex;
    gap: 20px;

}
.hero-badge:hover{
    color: azure;
    background: #000;
}
.hero-buttons a{
    text-decoration: none;
    padding: 14px 20px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;

}
.btn-primary{
    background-color: whitesmoke;
    color: black;
    box-shadow: 0 8px 20px white;
}
.btn-sec{
    background: transparent;
    color: rgb(177, 92, 92);
    box-shadow: 4px 8px 20px rgb(250, 247, 247);
    border: 2px solid  white;
}
.btn-sec:hover{
    background-color: white;
    color: blue;
}
.hero-image-col{
    display: flex;
    flex: 1;
    justify-content: center;
}
.image-wrapper{
    width: 340px;
    height: 340px;
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 0 0 60px white;
    overflow: hidden;
}
.image-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about{
    padding: 15px 25px;
    background-color: rgb(27, 35, 54);

}
.about-header{
    text-align: center;
    margin-top: 20px;
    font-family: serif;
    color: rgb(30, 0, 255);
    font-size: 25px;
    font-weight: 700;
}
.about-container{
    display: flex;
    padding: 10px 20px;
    margin-top: 25px;
    gap: 20px;
}
.about-left-column{
    justify-content: center;
    align-items: center;
    padding: 5px 10px;

}
.about-image-wrapper{
    width: 540px;
    height: 440px ;
    overflow: hidden;
}
.about-image-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;

}
.about-right-col{
    padding: 5px 10px;
    justify-content: center;
    align-items: center;

}
.about-right-col p{
    text-align: start;
    font-size: 35px;
    font-family: serif;
    color: rgb(5, 241, 245);
    line-height: 1.5;
    margin-top: 0px;
    margin-bottom: 25px;
}
.about-right-col a{
    text-decoration: none;
    padding: 10px 20px;
    margin-top: 30px;
    background-color: blue;
    border-radius: 10px;
}
.about-right-col a:hover{
    background-color: rgb(244, 244, 251);
    color: black;
}
.project{
    text-align: center;
    padding: 20px 30px;
    background: linear-gradient(135deg , gray , rgb(201, 190, 190)) ;
}
.project h2{
    font-size: 28px;
    color: aqua;
    margin-bottom: 4px;

}
.project p{
    font-size: 15px;
    color: aqua;
    margin-bottom: 6px;
}
.project-grid{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 25px;
    max-width: 1200px;
    margin: auto;
}

.project-card{
    background: rgb(249, 250, 249);
    border-radius: 12px;
    overflow: hidden;
    text-align: left;
    box-shadow: 0 2px  8px rgb(129, 58, 140);
    border: 1px solid rgb(2, 2, 245);
    max-height: 500px;
}
.project-card:hover{
  
   transform: translateY(-10px);

}
.project-info{
    padding: 20px;
}
.project-card img{
    width: 100%;
    height: 220px;
    object-fit: cover;
    display: block;
}
.project-info h3{
    font-size: 20px;
    color: rgb(15, 109, 203);
    margin-bottom: 8px;
}
.project-info p{
    font-size: 20px;
    color: rgb(0, 255, 255);
    margin-bottom: 10px;

}
.project-link{
    display: inline-block;
    background-color: rgb(59, 59, 66);
    padding: 18px 16px;
    text-decoration: dotted;
    border-radius: 50px;
    color: rgb(3, 120, 222);
}
.project-link:hover{
    background: #010101;
}
.skills{
    padding: 24px 26px;
    background: aquamarine;
    text-align: center;
}
.skills h2{
    font-family: serif;
    color: aqua;
    margin-bottom: 20px;
    font-family: 25px;
}
.skill-grid{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 12px;
    margin: 0 auto;
}
.skills-card{

    padding: 2px 16px;
    background: transparent;
}
.skills-card p{
    font-size: 18px;
    font-weight: 600;
    color: rgb(7, 1, 5);
    margin: 0;

}
.skill-icon img{
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
}
.footer{
    background: rgb(3, 120, 138);
    color: rgb(1, 2, 2);
    padding: 48px 40px 24px;
}
.footer-inner{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
    margin: 0 auto 32px;
    max-width: 1000px;
    align-items: flex-start;

}
.footer-brand h3{
    color: azure;
    font-size: 20px;
    margin-bottom: 10px;
}
.footer-brand p{
    color: aliceblue;
    font-size: 16px;
}
.footer-links a{
    display: block;
    margin-bottom: 8px;
    text-decoration: none;
     color: bisque;
     font-size: 16px;
}
.footer-links a:hover{
    text-decoration: dotted;
    color: black;
    transform: translateX(-9px);

}
.footer-social-links{
    display: flex;
    flex-direction: row;
    gap: 12px;;
}
.footer-social-links img{
    height: 90px;
    width: 100px;
}
.footer-copy{
    color: azure;
    font-size: 15px;
    text-align: center;
}